<div class="container">   
<div ng-controller="angEmpController">
  
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-click="addItem()">Add</button>
     <div class="row h4">
          <div class="col-md-2">Name</div>
          <div class="col-md-2">Email</div>
          <div class="col-md-2">Date of Birth</div>
          <div class="col-md-2">Department</div>
          <div class="col-md-2">Gender</div>
          <div class="col-md-2">Age</div>
          <div class="col-md-2"></div>
     </div>
 
        <div class="row" ng-repeat="item in items">
          <div class="col-md-2" ng-bind="item.name"></div>
          <div class="col-md-2" ng-bind="item.email"></div>
          <div class="col-md-2" ng-bind="item.dob"></div>
          <div class="col-md-2" ng-bind="item.department"></div>
          <div class="col-md-2" ng-bind="item.gender"></div>
          <div class="col-md-2" ng-bind="item.age"></div>
          <div class="col-md-2">  
           <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="editItem(item)">Edit</button>
           <button class="btn" ng-click="removeItem(item)">Remove</button></div>
        </div>
 
 
 
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-show="displayForm">
  <div class="modal-dialog">
    <div class="modal-content">      
      <div class="modal-body">
       
          <div class="form-group">  <input type="text" ng-model="employee.name"  class="form-control" placeholder="Name"/></div>
          <div class="form-group"><input type="text" ng-model="employee.email"  class="form-control" placeholder="Email"/></div>
          <div class="form-group"> <input type="text" ng-model="employee.dob"  class="form-control" placeholder="mm/dd/yy"/></div> 
          <div class="form-group"> <input type="text" ng-model="employee.department"  class="form-control" placeholder="Department"/></div>  
          <div class="form-group"> 
            <label for="" class="radio-inline gender">
            <input type="radio" ng-model="employee.gender"  class="form-control" placeholder="gender" value="male" >Male
            </label>
            <label for="" class="radio-inline gender">
            <input type="radio" ng-model="employee.gender"  class="form-control" placeholder="gender" value="female">Female
            </label>
            <!--input type="text" ng-model="employee.gender"  class="form-control" placeholder="gender"/--></div>           
      
      </div>
      <div class="modal-footer">       
         <button class="btn btn-primary" ng-click="saveItem()">Save</button>
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>